REACT_APP_FIREBASE_API_KEY=
REACT_APP_FIREBASE_AUTH_DOMAIN=omnishare-5fb53.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=omnishare-5fb53
REACT_APP_FIREBASE_STORAGE_BUCKET=omnishare-5fb53.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=
REACT_APP_FIREBASE_APP_ID=
REACT_APP_FIREBASE_MEASUREMENT_ID=
